$p-brown: #4a4238;
$p-ash: #4d5359;
$p-teal: #508484;
$p-ill: #79c99e;
$p-lime: #97db4f;
// In the order of the pallete.png

$p-theme: (
    "brown": $p-brown,
    "ash": $p-ash,
    "teal": $p-teal,
    "ill": $p-ill,
    "lime": $p-lime,
);

// generates a colour for each in the p-theme map
@each $item, $color in $p-theme {
    .bg-#{$item} {
        background-color: $color;
    }
}


// Buttons colors
@each $color, $value in $p-theme {
    .btn-#{$color}{
        @include button-variant(
            $value,
            $value,
            $hover-background: shade-color($value, $btn-hover-bg-shade-amount),
            $hover-border: shade-color($value, $btn-hover-border-shade-amount),
            $active-background: shade-color($value, $btn-active-bg-shade-amount),
            $active-border: shade-color($value, $btn-active-border-shade-amount)
        )
    }
}