{% extends 'base.html' %}
{% block content %}
    <div class="p-5 text-white text-center container-fluid bg-ash">
        <h1>Relevant Implications</h1>
        <p>A Quick and Easy Guide to NCEA</p>
    </div>
    <div class="container mt-5 text-center">
        <h2>What Are Relevant Implications?</h2>
        <p>Lorem Ipsum yada yada blah blah who cares</p>
    </div>
    <!-- TODO: come back and center ts grid system i actually gotta start doing stuff so i give up on this for now come back later -->
    <div class="container text-center mt-5 p-5">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/Debugempty.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">blah blah aint no-one gaf!</p>
                        <a href="" class="btn btn-primary">This is a button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/Debugempty.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">blah blah aint no-one gaf!</p>
                        <a href="" class="btn btn-primary">This is a button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/Debugempty.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">blah blah aint no-one gaf!</p>
                        <a href="" class="btn btn-primary">This is a button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}