{% extends 'base.html' %}
{% block content %}
    <div class="p-5 text-white text-center container-fluid bg-ash">
        <h1>Relevant Implications</h1>
        <p>A Quick and Easy Guide to NCEA</p>
    </div>
    <div class="container mt-5 text-center">
        <h2>What Are Relevant Implications?</h2>
        <p>Lorem Ipsum yada yada blah blah who cares</p>
    </div>
    <!-- TODO: come back and center ts grid system i actually gotta start doing stuff so i give up on this for now come back later -->
    <div class="container text-center mt-0 p-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm p-2">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/rel-impl/health-safety.webp" alt="Security" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Health & Safety</h5>
                        <a href="safety-acessability.html" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/rel-impl/accessibility.webp" alt="Accessibility" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Accessibility</h5>
                        <a href="safety-acessability.html" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/rel-impl/intellectual-property.webp" alt="Intellectual Property" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Intellectual Property</h5>
                        <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/Debugempty.webp" alt="Legal" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Legal</h5>
                        <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/rel-impl/social.webp" alt="Social" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Social</h5>
                        <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/rel-impl/cultural.webp" alt="Cultural" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Cultural</h5>
                        <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/Debugempty.webp" alt="Ethical" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Ethical</h5>
                        <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/rel-impl/privacy.webp" alt="Privacy" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Privacy</h5>
                        <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/rel-impl/usability.webp" alt="Usability" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Usability</h5>
                        <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/rel-impl/functionality.webp" alt="Functionality" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Functionality</h5>
                        <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/rel-impl/aesthetics.webp" alt="Asthetics" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Asthetics</h5>
                        <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/Debugempty.webp" alt="End User Conciderations" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">End User Conciderations</h5>
                        <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2 flex-grow-0">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/Debugempty.webp" alt="Future-Proofing" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Future-Proofing</h5>
                        <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>

{% endblock %}