<nav class=" navbar navbar-expand-sm p-3 navbar-dark sticky-top main-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Relevant Implications</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="safety-acessability.html" class="nav-link">Safety & Acessability</a>
                </li>
                <li class="nav-item">
                    <a href="legal-copyright.html" class="nav-link">Legal & Copyright</a>
                </li>
                <li class="nav-item">
                    <a href="social-cultural.html" class="nav-link">Social & Cultural</a>
                </li>
                <li class="nav-item">
                    <a href="ethical-privacy.html" class="nav-link">Ethical & Privacy</a>
                </li>
                <li class="nav-item">
                    <a href="usability-functionality.html" class="nav-link">Usability & Functionality</a>
                </li>
                <li class="nav-item">
                    <a href="asthetics-enduser.html" class="nav-link">Asthetics & End User Conciderations</a>
                </li>
                <li class="nav-item">
                    <a href="futureproofing.html" class="nav-link">Future-Proofing</a>
                </li>
            </ul>
        </div>
    </div>
</nav>